*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.input{
    height: 40px;
    width: 320px;
    font-size: 26px;
    padding: 5px;
    text-align: center;
    outline: none;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}
.button{
 width: 100%;
 display: flex;
 justify-content: center;
 gap: 30px;
}
.button button{
    height: 30px;
    width: 60px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}
.container h2{
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}